body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/023/812/047/non_2x/horizontal-view-of-asphalt-road-with-bike-lens-background-of-trees-and-green-grass-with-pool-and-mountain-under-blue-sky-with-white-clouds-vector.jpg") ;
    background-size:cover;
}
img {
    width: 20%;
    position: absolute;
    bottom: 0;
    left: 0; /* start position */
    transition: left 0.05s linear; /* optional: makes it smooth */
}