
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(135deg, #43ddd0, #3886fa);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #fff;
  width: 500px;          /* Increased width */
  min-height: 550px;     /* Increased height */
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 8px 25px rgba(193, 44, 212, 0.274);
  overflow-y: auto;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

.input-section {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#taskInput {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

#addBtn {
  padding: 12px 20px;
  background: #6c63ff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
}

#addBtn:hover {
  background: #594ef2;
}

ul {
  margin-top: 25px;
  list-style: none;
}

li {
  background: #f7f7f7;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

li.completed {
  text-decoration: line-through;
  color: gray;
}

li:hover {
  background: #efefef;
}

.buttons {
  display: flex;
  gap: 8px;
}

button.delete, button.edit {
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  transition: 0.3s;
}

button.delete {
  background: #e92c3f;
}

button.delete:hover {
  background: #e04351;
}

button.edit {
  background: #00b894;
}

button.edit:hover {
  background: #009a7b;
}
